<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://unpkg.com/vue@3"></script>-->

    <!--vue multiselect-->
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--App-->
    <script type="module" defer type="application/javascript" src="newEvent.js"></script>

    <!-- My css-->
    <link rel="stylesheet" href="./newEvent.css">

    <title>Events7</title>
    
  </head>
  <body>

    <div id="app" v-cloak>

      <!--Navbar-->
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">Events7</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/newEvent.html">New event</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="col-md-8" style="margin:auto; margin-top:50px; margin-bottom: 50px; padding: 0; background-color: white;">
          <div class="shadowB">

          <h2 style="margin-bottom: 30px;">Create new event</h2>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="id">Id</label>
              <input v-model="id" type="text" class="form-control" id="id" style="max-width:100%;">
              <label class="text-warning" style="font-size: 14px;">{{idErr}}</label>
            </div>
            <div class="form-group col-md-8">
              <label for="name">Name</label>
              <input v-model="name" type="text" class="form-control" id="name">
              <label class="text-warning" style="font-size: 14px;">{{nameErr}}</label>
            </div>
          </div>
        
          <div >
            <div class="form-group">
              <label for="description">Description</label>
              <textarea v-model="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <label class="text-warning" style="font-size: 14px; margin-bottom:0;">{{descriptionErr}}</label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="priority">Priority</label>
              <multiselect v-model="priority" deselect-label="Can't remove this value"  placeholder="Select one" :options="priorities" :searchable="false" :allow-empty="false">
            </div>
            <div class="form-group col-md-8">
              <label for="type">Type</label>
              <multiselect v-model="type" deselect-label="Can't remove this value"  placeholder="Select one" :options="types" :searchable="false" :allow-empty="false">
            </div>
          </div>
        
          <div class="form-group">
            <div>
              <label class="typo__label">Related events</label>
              <multiselect v-model="related" :options="events" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name">
                <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
              </multiselect>
            </div>
         </div>

          <div class="button-align">
            <button @click="insertEventDB()" type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary" href="index.html">Cancel</button>
          </div>
        </div>
        </div>

      </div>
        
      <div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
  
 
</html>